[build]
builder = "nixpacks"

[variables]
PYTHONUNBUFFERED = "1"

[phases.setup]
nixPkgs = ["python3", "gcc", "ffmpeg", "nodejs"]

[phases.install]
cmds = [
  "python -m venv --copies /opt/venv",
  ". /opt/venv/bin/activate",
  "pip install -r requirements.txt"
]

[start]
cmd = "python Bot.py"
